.sendButton {
  margin-top: 10px !important;
  background: #f7f7f6 !important;
}
.sendButton:hover {
  background: #464646 !important;
  border: none !important;
  color: white !important;
}
.profileContainer:hover {
  cursor: pointer;
}
